<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel='stylesheet' href='/css/styles.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/pic.jpg">
        <p>Ezekiel Chan is a Junior Node.js developer from Belize. Currently at training he created this app to hone his skills. It feeds its data from Rapid API and MapBox</p>
    </div>
    
    {{>footer}}
</body>

</html>